main{
    overflow-y: scroll;
}
body{
    background-image: url(https://w0.peakpx.com/wallpaper/171/47/HD-wallpaper-blue-motivational-neon-sign-neon.jpg)
}
.content-table {
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 70px;
    font-size: 1.2em;
    font-weight: bold;
    min-height: 300px;
    min-width: 500px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    opacity: 0.9;
}

.content-table thead tr {
    background-color: #206A5D;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table td {
    padding: 12px 15px;
    color: rgb(188, 210, 255);
    border-left: 4px solid black;
}

.content-table th {
    padding: 12px 15px;
    border-left: 4px solid black;
    border-bottom: 6px solid black;
}

th {
    text-align: center;
}

.content-table tbody tr {
    border-bottom: 6px solid black;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #2b2727;
}

.content-table tbody tr:nth-of-type(odd) {
    background-color:  rgb(76, 69, 76);
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #2b0022;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #000000;
}

.content-table tr:hover td {
    background-color: darkgrey;
    color: #000000;
}


